DeploymentCacheClient/Connected Services/ServiceReference1/DeploymentCacheLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeploymentCacheRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RootDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageVolumePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeploymentCacheRequest" nillable="true" type="tns:DeploymentCacheRequest" />
  <xs:complexType name="DeploymentCacheResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContents" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileLength" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeploymentCacheResponse" nillable="true" type="tns:DeploymentCacheResponse" />
  <xs:complexType name="DeleteFromCacheResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDeleteSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteFromCacheResponse" nillable="true" type="tns:DeleteFromCacheResponse" />
</xs:schema>