DeploymentCacheClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeploymentCacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDeploymentCacheOperations_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeploymentCacheOperations_GetZipFileForSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipFileForSite" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_GetZipFileForSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipFileForSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_GetZipFileForSite_DeploymentCacheFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" name="detail" element="q1:DeploymentCacheFault" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_RefreshCacheForSite_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshCacheForSite" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_RefreshCacheForSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshCacheForSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_RefreshCacheForSite_DeploymentCacheFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" name="detail" element="q2:DeploymentCacheFault" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_DeleteCacheForSite_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCacheForSite" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_DeleteCacheForSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCacheForSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_DeleteCacheForSite_DeploymentCacheFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" name="detail" element="q3:DeploymentCacheFault" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_ClearCache_DeploymentCacheFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" name="detail" element="q4:DeploymentCacheFault" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_GetDeploymentCacheStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeploymentCacheStats" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_GetDeploymentCacheStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeploymentCacheStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeploymentCacheOperations_GetDeploymentCacheStats_DeploymentCacheFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/DeploymentCacheLib" name="detail" element="q5:DeploymentCacheFault" />
  </wsdl:message>
  <wsdl:portType name="IDeploymentCacheOperations">
    <wsdl:operation name="GetZipFileForSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/GetZipFileForSite" message="tns:IDeploymentCacheOperations_GetZipFileForSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/GetZipFileForSiteResponse" message="tns:IDeploymentCacheOperations_GetZipFileForSite_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/GetZipFileForSiteDeploymentCacheFaultFault" name="DeploymentCacheFaultFault" message="tns:IDeploymentCacheOperations_GetZipFileForSite_DeploymentCacheFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshCacheForSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/RefreshCacheForSite" message="tns:IDeploymentCacheOperations_RefreshCacheForSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/RefreshCacheForSiteResponse" message="tns:IDeploymentCacheOperations_RefreshCacheForSite_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/RefreshCacheForSiteDeploymentCacheFaultFault" name="DeploymentCacheFaultFault" message="tns:IDeploymentCacheOperations_RefreshCacheForSite_DeploymentCacheFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCacheForSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/DeleteCacheForSite" message="tns:IDeploymentCacheOperations_DeleteCacheForSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/DeleteCacheForSiteResponse" message="tns:IDeploymentCacheOperations_DeleteCacheForSite_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/DeleteCacheForSiteDeploymentCacheFaultFault" name="DeploymentCacheFaultFault" message="tns:IDeploymentCacheOperations_DeleteCacheForSite_DeploymentCacheFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/ClearCache" message="tns:IDeploymentCacheOperations_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/ClearCacheResponse" message="tns:IDeploymentCacheOperations_ClearCache_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/ClearCacheDeploymentCacheFaultFault" name="DeploymentCacheFaultFault" message="tns:IDeploymentCacheOperations_ClearCache_DeploymentCacheFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeploymentCacheStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/GetDeploymentCacheStats" message="tns:IDeploymentCacheOperations_GetDeploymentCacheStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/GetDeploymentCacheStatsResponse" message="tns:IDeploymentCacheOperations_GetDeploymentCacheStats_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDeploymentCacheOperations/GetDeploymentCacheStatsDeploymentCacheFaultFault" name="DeploymentCacheFaultFault" message="tns:IDeploymentCacheOperations_GetDeploymentCacheStats_DeploymentCacheFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDeploymentCacheOperations" type="tns:IDeploymentCacheOperations">
    <wsp:PolicyReference URI="#NetTcpBinding_IDeploymentCacheOperations_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetZipFileForSite">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentCacheOperations/GetZipFileForSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeploymentCacheFaultFault">
        <soap12:fault use="literal" name="DeploymentCacheFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RefreshCacheForSite">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentCacheOperations/RefreshCacheForSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeploymentCacheFaultFault">
        <soap12:fault use="literal" name="DeploymentCacheFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCacheForSite">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentCacheOperations/DeleteCacheForSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeploymentCacheFaultFault">
        <soap12:fault use="literal" name="DeploymentCacheFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentCacheOperations/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeploymentCacheFaultFault">
        <soap12:fault use="literal" name="DeploymentCacheFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeploymentCacheStats">
      <soap12:operation soapAction="http://tempuri.org/IDeploymentCacheOperations/GetDeploymentCacheStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DeploymentCacheFaultFault">
        <soap12:fault use="literal" name="DeploymentCacheFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeploymentCacheService">
    <wsdl:port name="NetTcpBinding_IDeploymentCacheOperations" binding="tns:NetTcpBinding_IDeploymentCacheOperations">
      <soap12:address location="net.tcp://localhost:8002/DeploymentCache/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8002/DeploymentCache/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>